.App {

  display: flex;
  flex-direction: column;

}
table {
  width: 100%;
}

th {
  border: 4px solid black;
  text-align: left;
  padding: 8px;
}
td {
  background-color: tan;
  
}
.table-box {
  width: 100%;
}
.inputtext{
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}
.button{
  height: 15px;
  background-color: chocolate;
}
.submitbutton{
  background-color:burlywood;
  display:flex;
  flex-direction:row;
  padding: 20px;
  
}

.flex{
  background-color:cornflowerblue;
  width:100px;
  display:flex;
  flex-direction:column;
  align-content: flex-end;
}
.add{
  width: fit-content;
  height: fit-content;
  background-color:darkgrey;
  display:flex;
  align-items: center;
  padding: 20px;
  flex-direction: column;
  margin-bottom: 50px;
}
.flex-row{
  background-color: beige;
  width:fit-content;
  display:flex;
  flex-direction:row;
  align-items: center;
  text-align: center;
  padding: 10px;
}
.search{
  display:ruby;
  padding: 10px;;
  align-content:center;
  flex-direction: column;
  background-color: khaki;
  width:350px;
 
  
  
}
.add2{
  background-color:wheat;
  display:flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}
.border{
  margin: 20px;
  border: 2px solid black;
  background-color: burlywood;
  padding: 20px;
}
.fontsize{
  margin-left: 40%;
  color: brown;
  font-family: Georgia, 'Times New Roman', Times, serif;
  justify-content: center;
}

